.melon-image{
    height: 300px;
    width: 300px;
}
#melon-list{
    display: flex;
    flex-wrap: wrap;
}
#sticker{
    position: fixed;
    right: 10px;
    height: 350px;
    width: 200px;
    top: 175px;
}
#buy{
    position: fixed;
    right: 10px;
    top: 100px;
    background-color: #212529;
    color: gray;
    font-size: 28px;
    box-shadow: 2px 2px black;
}
body{
    background-color: gray;
    font-family: 'Kenia', cursive;
}
.card{
    background-color: hsl(210, 11%, 8%);
    display: flex;
    color: azure;
    width: 400px;
}

.nav-title{
    font-size: 3rem;
}

.nav-size{
    font-size: 1.75rem;
}

.navbar{
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    height: 4rem;
}
#wrong{
    position: fixed;
    top: 650px;
    color: black;
}
#wrongpic{
    position: fixed;
    top: 75px;
}
.spacer{
    width: 100%;
    height: 7rem;
}