{% extends 'base.html' %} {%block body%}
<div class="spacer"></div>
<div id="melon-list">
  {% for melon in melon_list %}
  <div class="card text-center">
    <a href="{{url_for('individualMelons', melon_id = melon.melon_id)}}"
      ><img class="melon-image" src="{{melon.image_url}}" alt="melon pix"
    /></a>
    <h5>
      <a href="{{url_for('individualMelons', melon_id = melon.melon_id)}}">
        {{melon.common_name}}</a
      >
    </h5>
    {{melon.price_str()}}
  </div>
  <a href="/m"> <img id="sticker" src="../static/images/sam.png" /></a>
  <h2 id="buy">BUY MY MELONS</h2>
  {%endfor%}
</div>
{%endblock%}
